body {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow:  4px 8px blueviolet
}